@charset "UTF-8";

#enrollment {
		background-color: #ffcfa9;
		padding: 20px 20px 20px 90px;
		margin: 20px 560px 40px 140px;
		border-radius: 15px;	
		background-image: url(../Images/logo_orange.jpg);
		background-repeat: no-repeat;
		background-position: top left;
}

#demographics {
		background-color: #EEDEFF;
		padding: 20px 20px 20px 90px;
		margin: 20px 560px 40px 0px;
		border-radius: 15px;	
		background-image: url(../Images/logo.jpg);
		background-repeat: no-repeat;
		background-position: top left;	
}

#did_you_know {
		background-color: #ffcfa9;
		padding: 20px 20px 20px 90px;
		margin: 20px 560px 40px 140px;
		border-radius: 15px;	
		background-image: url(../Images/logo_orange.jpg);
		background-repeat: no-repeat;
		background-position: top left;	
}

.thumbnail {
		text-align: center;
}

.demographic_header {
		font-family: Impact, Georgia, Trebuchet MS, serif;
		color: #4C075D;
}

.demographic_data {
		list-style-type: none;
}